.appcontent-section {
  display: flexbox;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.parpadea {
  animation-name: parpadeo;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name: parpadeo;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes parpadeo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes parpadeo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.image-container {
  flex: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.text-container {
  flex: 1;
  padding: 20px;
}

.text-container h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.text-container p {
  font-size: 1rem;
  margin-bottom: 20px;
}

.container-button {
  background-color: blueviolet;
  align-items: center;
  padding: 15px;
  border-radius: 5px;
}

.container-alert {
  background-color: green;
  align-items: center;
  padding: 15px;
  border-radius: 5px;
}

/* Para pantallas medianas (mínimo 768px) */
@media (min-width: 801px) {
  .container-button {
    margin: 15px 40%; /* Ajusta el margen según el tamaño de pantalla */
  }
}

/* Para pantallas pequeñas (mínimo 640px) */
@media (max-width: 800px) {
  .container-button {
    margin: 15px 30%; /* Ajusta el margen según el tamaño de pantalla */
  }
}

.container-button:hover {
  background-color: rgb(157, 92, 218);
  cursor: pointer;
}

.container-button:hover:active {
  background-color: rgb(183, 147, 216);
}
